@page
@model SprintBlogs.Pages.Sprint1Model
@{
}
<link href="~/css/Sprint1.css" rel="stylesheet" />

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Sprint One Reflection</h1>
        <p>Sprint one consisted of the planning stage of the SDLC also known as the System Development Life Cycle.</p>
    </div>
</div>
<div class="container">
    <div>
        <h2>Sprint Blog</h2>
        <p>The following sprint went well even though the beginning of the class had a change in direction. We went from having groups of three having to develop our own applications based on our own ideas. To developing an application for a client.
        I am beyond excited to get some real-world experience coding for Yankee Designs. Yankee Designs has tasked us to design a fully functional online store, so customers have the option to check inventory and purchase jewelry. 
        In sprint one as a group, we were able to plan the whole project according to the SDLC guidelines. I believe everyone did a great job at contributing. 
        I was able to help assist with the SDLC presentation and a little bit of the information in the project notebook, along with some ideas on possible web hosting services. 
        As a team we were able to fully complete the project Notebook for sprint one which includes most of the planning for the entire project. 
        As of right now I do not believe there were any major conflicts or issues during sprint one. Moving forward in the sprints it will be interesting to see how well the work is divided up and to see if anyone is overwhelmed with their workload. If we are to run into any issues, I think it will be with dividing up the work so each person has an equal amount and the same opportunity to learn as others. </p>
    </div>
</div>